body{
    background-color: #DCEFE2;
}
h1 {
    font-family: 'Kaushan Script', cursive;
    text-align: center;
    font-size: 100px;
    margin: 0 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}
h2{
    text-align: center;
    font-family: monospace;
    font-size: 50px;
    margin: 0 20px;
    color: white;
    text-shadow: 1px 1px 2px black;
}

.text-grid h2{
    color:#004E44;  
}
.text-grid p{
    font-size: 18px;
    font-family: monospace;
    text-align: center;
}

main img {
max-width: 100%;
border-radius: 10px;

}
.container-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #004E44;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    padding: 200px;
}

.video-bg {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
}
.headings {
    text-align: center;
    text-shadow: 1px 1px 2px white;
    border-radius: 10px;
    }

.grid {
    display: grid;
    grid-gap: 20px;
}
.grid-main-3-columns{
    grid-template-columns: repeat(3 , 1fr); 
}

.container-grid{
    grid-template-columns: repeat(4, 1fr);
}
section.secondary h2,
h3 {
    text-align: center;
}
.grid-container-cards{
    grid-template-columns: repeat(3, 1fr);
}
.card-pic{
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;
    
}
.card , .text-grid{
    background-color: white;
    text-align: center;
    padding: 20px;
    margin: 10px;
    font-family: monospace;
    font-size: 18px;
    border-radius: 10px;
}

.secondary h2{
    font-family: 'Kaushan Script', cursive;
    font-size: 70px;
    text-shadow: 1px 1px 2px white;
    color: #004E44;
    padding: 20px;
}
.secondary h3{
    font-family: monospace;
    font-size: 30px;
    color: #004E44;
}
.btn{
    display: block;
    margin: 0 auto;
    color: white;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 16px;
    background-color: #004E44;
    text-decoration: none;
}
.btn:hover{
color: #004E44;
    background-color: white;
   
}
    

.footer-grid-3-columns{
    grid-template-columns: 1fr 2fr 2fr;
}

footer {
    text-align: center;
    font-family: monospace;
    background-image: url(../images/footer-bg.jpg);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    margin-top: 20px;
    text-shadow: 1px 1px 2px white;
}

footer h3 {
    font-weight: 700px;
    font-size: 20px;
    line-height: 30px;
}

footer p {
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.9;
}

footer ul {
    padding: 0;
    margin: 0;
}

footer li {
    list-style: none;
    line-height: 24px;
    padding: 0;
}

footer a {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 960px) {
   .container-header{
    padding: 80px;
   }
h1{
    font-size: 50px ;
}
 h2{
    font-size: 30px;
}
.footer-grid-3-columns{
    grid-template-columns: 1fr;
}
.grid-main-3-columns{
    grid-template-columns: 1fr;
    padding: 20px;
}
.main-picture-1{
    display: none;
}
.container-grid{
    grid-template-columns: 1fr;
    padding: 20px;
}
.secondary h2{
    font-size: 50px;
}
.grid-container-cards{
    grid-template-columns: 1fr;
}

}